@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

*::selection{
  background-color: black;
  color: cornflowerblue;
}

/* Body Styles */
body {
  background-color: #f5f5f5;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px;
}

/* Sidebar Styles */
.sidebar {
  flex-basis: 30%;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.sidebar h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

#file-list {
  list-style-type: none;
  margin-bottom: 20px;
}

#file-input {
  margin-bottom: 10px;
}

/* Content Styles */
.content {
  flex-basis: 65%;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.content h1 {
  font-size: 32px;
  margin-bottom: 20px;
}

#add-form {
  margin-bottom: 20px;
}

#add-form input[type="text"] {
  width: calc(50% - 10px);
  margin-right: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#add-form button {
  padding: 10px 20px;
  background-color: #e34a79;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Table Styles */
#data-table {
  width: 100%;
  border-collapse: collapse;
}

#data-table th, #data-table td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

#data-table th {
  background-color: #f2f2f2;
}

/* Responsive Styles */
@media only screen and (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .sidebar, .content {
    flex-basis: auto;
    width: 100%;
    margin-bottom: 20px;
  }

  #add-form input[type="text"] {
    width: 100%;
    margin-right: 0;
  }
}


.btn-upload-file, #file-input{
  padding: 10px 20px;
  background-color: #0b233d;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn-td-js {
  padding: 11px 20px;
  background-color: #9dd1ec;
  color: #000;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
